.card {
   background-color: rgb(19, 18, 18);
}
.cla h1 {
    
    position: relative;
    left: 26%;
    top: 26%;
 

}

.cla .h2{
    position: relative;
    left: 30%;
    font-size: 20px;

    top: 20%;
}
input{
    width: 300px;
    height: 40px;
    background: #f7f9fc;
    border: none;
    font-size: 10pt;
    float: left;
    color: #050505;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
   border-color: transparent;
   

}
.coll {
    width: 100%;
  
}
.image{
    height: 250px ;
}
.colll{
}
button{
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: sans-serif;
    padding: auto;
}


.cla{
    width: 60%;
    background: rgba(20, 20, 20, 0.7) url("https://i.ibb.co/TwHk6yG/welcome-to-the-beach-scenery-HD-Wallpaper-1366x768.jpg") repeat-y;
    height: 50vh;
   
    color: #ffff;
    font-family: sans-serif;
     position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    background-blend-mode: darken;
    border: 1px solid rgb(102, 102, 102);
}
.albumm{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
}
div .cla {
    
    left: 20%;
    top: 50%;
}

.colors{
    border-top: 1px solid rgb(70, 69, 69);
}
main {
    background-color: rgb(0, 0, 0);
}
.img img{
    height: 200px;
}
.dos img {
    height: 290px;
}
.album{
    background-color: black !important;
}
section{
    border-bottom: 1px solid #ffff;
    color: #ffff;
    margin: 0% 0px;
}
p{
    color: #ffff;
}
