.container{
    width:100%;
    top:800px;


}
.conte{
    position: relative;
    top: 300px;
}
div p {
    color: #000000;
    font-size: 16px;   
}

i{
    background-color: #000000;
    color: #000000;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.img2{
    color: rgb(66, 8, 226);
    background-color: rgb(112, 159, 245);
 
}
.display-4 p {
    border: 20px solid #000000;
}
.display-4{
    color: #000000;
    font-family: 'Open Sans', sans-serif;;
    font-size: 78px;
    
    
}
body{
    font-family: sans-serif;
}
.contenedor{
    width: 100vw;
    background-color: #ffff;
    height: 30%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    
}

body {
    width: 90%;
}

.color{

    background-color: #ffff;
 
}
.centrar{
  position:   relative;
  margin-left: 220px;
  margin-top: 270px;
 
   
}
.centrar2{
    position:   relative;
    margin-left: 220px;
}
.containerr{
   width: 100%;
    height: 60vh;
    margin: 0;
    position: absolute;
    left: 0;
    top: 80px;
    
}
.contenedor-co{
    width: 70%;

}
.contenedor-co p{
    text-align: justify;
    color: #000000;
}
.px-0 .p{
 
    width: 200px;
    position: relative;
    top: 50px;
    color: #000000;
    font-size: 50px;
    font-family: 'Oswald', sans-serif; 


}
.mover{
  position: relative;
  left: 70px;

}

.pre{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    color: #fffb00 !important;
    width: 120px;
    height: 50px;
    left: 160%;
    position: relative;
    top: 20px;
  
}
.gallery{

    grid-gap: 10px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    
}
.gallery_img img{
 width: 100%;
 height: 220px;
}
.gallery_img{
   
}
.ancho{
 width: 90%;
}

.boton1{
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: flex-end;
    
   
    background: linear-gradient(70deg,  rgb(9, 107, 235), rgb(9, 107, 235));
    position: relative;
    width: 90px;
    height: 40px;
    left: 160%;
   
}
.col-md-6 p{
    color: #fbff02;
    font-size: 28px;
    
    
}
button:hover{
    background-color: #7779ee !important;
    
}

button:hover > a {
    color: #000000 !important;
}
.boton1 a{
   
    display: flex;
    justify-content: center;
    text-align: center;
    
    text-decoration: none;
    color: blanchedalmond;
    margin-left: 200px !important;
}
.px{
    width: 24px;
    height: 24px;
}
body{
    background-color: #000000;
}
.impor{
    position: relative;
    width: 120px;
    height: 40px;
    left: 180%;

}
.grid{
    
position: relative;
left: 60%;
bottom: 190px;
width: 50vw
}
.colorr{
   background-color: #ffffffff;
    
    
}
.contenedor{
    width: 90% ;
}
.imagenf{
    height: 65vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center button;
    background-position: center button;
    
}

#cfimg{
    width:100%;
}
