<header>
    <ul class="nav fondo justify-content-end">
          
        <img class="bi me-2" src="../../../assets/img/logo.png" alt="logo" >
         
        <li class="nav-li"><a routerLink="/" >INICIO</a></li>
        <li class="nav-li"><a routerLink="/planes">PLANES</a></li>
        <li class="nav-li"><a routerLink="">SERVICIOS</a></li>
        <li class="nav-li"><a routerLink="/planes_en_oferta">PLANES EN OFERTA</a></li>
        <li class="nav-li btn-entrar"><a>ENTRAR</a></li>
     </ul>
    </header>
